.clock_container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock_inner_container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.clock_hand {
    width: 5px;
    background-color: black;
    position: absolute;
    transform-origin: bottom;
}

.hour_hand {
    height: 60%;
}

.minute_hand {
    height: 60%;
}

.second_hand {
    height: 70%;
}